body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    background-image: url('images.jpeg');
}

.header {
    text-align: center;
    background: #ffcc00;
    color: #000;
    padding: 20px;
}

.navbar {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    margin-top: 20px;
}
